<% include partials/header %>

<div class="heading text-center">
  <h1>Search for Movies</h1>
</div>

<div class="divform">
<form class="form" action="/movies" method="get">
  <div class="row">
    <div class="form-group col-md-6 col-sm-offset-3">
      <input type="text" name="q" class="form-control input-lg text-center" id="searchbox" placeholder="Search for a movie">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-sm-offset-3">
      <input type="submit" value="Search" class="btn btn-stroke-black btn-lg btn-block">
    </div>
  </div>

</form>
</div>

  <% include partials/footer %>