<% include ../partials/header %>




<div class="error text-center">
  <h2>Unable to find movie.
  <br>Please check your search and try again.</h2>
</div>













 <% include ../partials/footer %>