<% include ../partials/header %>

<div class="col-md-12 container text-center">

<div class="heading text-center" id="mainheading">
</div>




<a href="/"><div class="restricteddiv"> <img style="height:auto; width:auto; max-width:600px; max-height:600px;" src="../images/restricted.png"></div></a>










 <% include ../partials/footer %>